.dropdown-submenu {
  position:relative;
}

.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display:block;
}

.dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  margin-top:5px;
  margin-right: -40px;
  border-color:transparent transparent transparent #ccc;
  border-style:solid;
  border-width:5px 0 5px 5px;
}

.dropdown-submenu:hover>a:after {
  border-left-color:#ccc;
}


.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.dropdown-menu input {
  /*margin-left: 15px;
  float:right;
  clear:both;*/
  margin-left: 15px;
  position: absolute;
  right: 20px;

}

.dropdown-menu a{
    padding-right: 50px !important;
}
body{
  background-color: #f5f5f5;
}

#tabs{
  top: 50px;
}

.ui-widget-content { border: none;}
#tabs-2{
  
}
#tabs li a
{
  outline-color: transparent;
}


#color{
  width: 100px;
  color: #000000;
}
#imga{
  float: left;
}

#tabs-1 td
{
 padding-top: 10px;
 width: 150px;
 padding-bottom: 15px;


}

td#nuevatd
{
 width: 5000px;  
 padding-left: 20px;
}

.radio{
  margin-left: 20px;
}


.radio span{
  margin-right: 30px;
}


#tabs-2 td
{
 padding-top: 10px;
 padding-left: 10px;
 padding-bottom: 10px;
}

#diagnostico{
  margin-left: 20px;
}
.rojo {
  background-color: #e74c3c;
}
.naranja{
  background-color: #e67e22;
}

.amarillo{
  background-color: #f1c40f;
}

.azul{
  background-color: #2980b9;
}
.morado{
  background-color: #8e44ad;
}
.rojo, .amarillo, .azul, .naranja, .morado{
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 6px;
  margin-right: 10px;
}

.rojo, .amarillo, .azul, .naranja, .morado{
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.rojo:hover, .amarillo:hover, .azul:hover, .naranja:hover, .morado:hover{
  border: 2px solid #85C4ED;

}


.selected{
  border: 2px solid #85C4ED;
}

.velocidad, .motor, .duracion, .distancia{
  margin-top: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  width: 700px;
}

.contenido{
  width: 630px;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

#opcionesVelocidad{

  margin-left: 20px;
  margin-right: 20px;
}

#inputVel{
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline;
  margin-right: 5px;
  padding: 5px;

}

.title, .body {

  border-bottom: 1px solid #bdc3c7;


}
.title p{
  margin-top: 15px;
  margin-left: 10px;
}
#anadirVel, #cancelarVel{

  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
}
.body p {
  margin-top: 15px;
  margin-left: 10px;
  float: left;
}
